* {
    margin: 0;
    padding: 0;
}

#spotlight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(12,19,79);
    background: linear-gradient(90deg, rgba(12,19,79,1) 0%, rgba(9,100,121,1) 100%);
}

#hero {
    

}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
}

.top-section > textarea {
    resize: none;
    opacity: 0.3;
    padding: 10px;
    outline: none;
    border-radius: 20px;
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}


select {
    flex: 1;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    opacity: 0.3;

}

button {
    border-radius: 35px;
    padding: 20px;
    outline: 0;
    margin-left: 10px;
    border: 0;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

